__history/*
__recovery/*
Linux64/*
Win32/*
txS57Res_project.tvsconfig
txS57DB.res
txS57DB.stat
txS57Res.stat
txS57ResAtti.res
txS57Res.res
txS57Res.identcache
txS57Res.dres
txS57Res.dproj.local
txS57Res.deployproj
txS57DB.identcache
txS57DB_project.tvsconfig
txS57Res.dsk